<%= form_for(@picture) do |f| %>
 <% if @picture.errors.any? %>
   <div id="error_explanation">
     <h2><%= @picture.errors.count %>件のエラーがあります。</h2>


     <ul>
     <% @picture.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
  <%= f.label :タイトル %>
  <%= f.text_field :title,class: 'form-control' %>
  <br>
  <%= f.label :本文 %>
  <%= f.text_field :content,class: 'form-control' %>
  <br>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
  <br>
  <%= f.submit'投稿', class:'btn btn-info btn-block'%>
<% end %>

<%= link_to "写真一覧",pictures_path %>
