<p><%= notice %></p>

<h1>写真一覧</h1>

<% @pictures.each do |picture| %>
 <p>タイトル:<%= picture.title %></p>
 <p>本文:<%= picture.content %></p>
 <%= link_to "写真を編集する", edit_picture_path(picture.id) %>
 <%= link_to "写真を削除する",picture_path(picture.id),data:{ confirm: '本当に編集していいですか？' },method: :delete %>
<% end %>
<br>
<%= link_to "写真投稿", new_picture_path %>
